@import "tailwindcss";

/* --- HIDE ALL SCROLLBARS BUT KEEP SCROLLING --- */

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox, IE, and Edge */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}